body {
  font-family: Roboto;
  color: #212121;
}
/* header for all pages*/
.container {
  width: 1200px;
  margin: auto;
}
.menu {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #212121;
}
.header-links {
  display: flex;
  list-style: none;
  font-weight: 500;
  padding: 0px;
  margin-right: 331px;
}
.header-links .link {
  color: #212121;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.header-links :not(:last-child) {
  margin-right: 50px;
}

.header-links .link:hover {
  color: #2196f3;
}
.information-links {
  display: flex;
  list-style: none;
  font-weight: 500;
  padding: 0px;
}
.information-links :not(:first-child) {
  padding-left: 50px;
}
.information-links .link {
  color: #757575;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.information-links .link:hover {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: #2196f3;
  margin-right: 93px;
}

/* Footer for all pages */
.footer {
  background: #2f303a;
}
.address {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  list-style: none;
}
.mail {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style-type: none;
}
.phone {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  list-style-type: none;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  line-height: 31px;
  font-weight: bold;
  color: #2196f3;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-logo1 {
  color: white;
}
.footer-list {
  list-style: none;
  padding: 0;
}
.footer-list :not(:last-child) {
  padding-bottom: 9px;
}
/* Index.html */
.article {
  font-size: 44px;
  line-height: 60px;
  font-weight: 900;
  color: #ffffff;
  width: 696px;
  margin: auto;
  margin-bottom: 40px;
}
.section {
  background: #2f303a;
}
.button {
  font-size: 16px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  background: #2196f3;
  margin: auto;
}
.information-list {
  list-style: none;
  display: flex;
}
.information-list :not(:last-child) {
  margin-right: 30px;
}
.third-article {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
.information-below {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #757575;
}
.second-article-information {
  list-style: none;
  display: flex;
  padding: 0px;
}
.second-article-information :not(:last-child) {
  margin-right: 30px;
}
.second-article {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
}
.crew {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: center;
}
.crew :not(:last-child) {
  margin-right: 30px;
}
.crew-names {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
}
.crew-information {
  font-size: 16px;
  line-height: 19px;
  font-weight: normal;
  color: #757575;
  text-align: center;
}
/* Portfolio */
.list-section {
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.list-portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}
.list-portfolio :not(:nth-child(3n)) {
  margin-right: 10px;
}
.porfolio-headers {
  font-weight: bold;
}
.list-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  color: #757575;
}
/* buttons */
.list-section {
  list-style: none;
}
.list-section button:hover {
  background-color: #2196f3;
  color: white;
}
